@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #09203f 0%, #375770 100%);
    color: var(--white);
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .info {
            // font-size: 30px;
        }
    }

    .container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
        max-width: 300px;

        .cell {
            min-width: 100px;
            min-height: 100px;
            border: 1px solid var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 50px;
            cursor: pointer;
            transition: background-color .2s ease;

            &:hover {
                background-color: rgba(0,0,0, .5);
            }
        }
    }

    .player {
        &--O {
            color: rgb(170, 60, 60);
        }

        &--X {
            color: rgb(60, 121, 170)
        }
    }

    .footer {
        .btn-reset {
            font-family: 'Varela Round', sans-serif;
            width: 100px;
            padding: 5px 20px;
            border: none;
            border-radius: 8px;
            color: var(--white);
            background-color: #5d768a;
            transition: background-color .2s ease;
            cursor: pointer;

            &:hover {
                background-color: #375770;
            }
        }
    }
}